<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .error {
      color: red;
    }
    input.error {
      color: black;
      border: 1px solid red;
    }
  </style>
</head>
<body>
<h2>Clients</h2>

<h3>Add new client</h3>
<form action="#" th:action="@{/clients/add}" th:object="${createClient}" method="post">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name" placeholder="Name" th:errorclass="error">
  <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error"></span>
  <label for="address">Address</label>
  <input type="text" th:field="*{address}" id="address" placeholder="Address" th:errorclass="error">
  <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:errorclass="error"></span>
  <input type="submit" value="Add">
</form>
<p></p>
<div th:switch="${clients}">
  <h2 th:case="null">No clients yet!</h2>
  <div th:case="*">
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="client : ${clients}">
        <td th:text="${client.name}"></td>
        <td th:text="${client.address}"></td>
        <td><a th:href="@{/clients/edit/{id}(id=${client.id})}">Edit</a></td>
        <td><a th:href="@{/clients/delete/{id}(id=${client.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>