<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head"></head>
<body>
<div id="menu" th:insert="fragments/menu :: menu"></div>
<div id="page">

<h3>Add new invoice</h3>
<form action="#" th:action="@{/invoices/add}" th:object="${createInvoice}" method="post">
  <label for="client">Client</label>
  <select id="client" th:field="*{clientID}">
    <option
            th:each="client : ${clientList}"
            th:value="${client.id}"
            th:text="${client.name}">
    </option>
  </select>
  <span th:if="${#fields.hasErrors('clientID')}" th:errors="*{clientID}" th:errorclass="error"></span>
  <label for="date">Date</label>
  <input type="text" th:field="*{date}" id="date" placeholder="Date" th:errorclass="error">
  <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" th:errorclass="error"></span>
  <input type="submit" value="Add">
</form>
<p></p>
<div th:switch="${#lists.size(invoices)}">
  <h2 th:case="null">No invoices yet!</h2>
  <div th:case="*">
    <table>
      <thead>
      <tr>
        <th>Client</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="invoice : ${invoices}">
        <td th:text="${invoice.client.name}"></td>
        <td th:text="${invoice.date}"></td>
        <td><a th:href="@{/invoices/edit/{id}(id=${invoice.id})}">Edit</a></td>
        <td><a th:href="@{/invoices/delete/{id}(id=${invoice.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</body>
</html>
