<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head th:replace="fragments/header :: head"></head>
<body>
<div id="menu" th:insert="fragments/menu :: menu"></div>
<div id="page">

    <h3>Edit Existing User</h3>
    <form action="#" th:action="@{/admin/users/update/{id}(id=${user.id})}" th:object="${user}" method="post">
        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username" placeholder="Username" th:errorclass="error">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="error"></span>

        <label for="password">Password</label>
        <input type="password" th:field="*{password}" id="password" placeholder="Password" th:errorclass="error">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"></span>

        <label for="role">Role</label>
        <select th:field="*{role}" id="role">
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select>
        <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" th:errorclass="error"></span>

        <input type="submit" value="Save Changes">
    </form>

</div>
</body>
</html>
